.page-container {
    display: flex;
    justify-content: center;
}

.todo-container {    
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1024px;
    width: 100%;
    border: 1px solid;
    height: 100vh;

}